<div class="detail_frame">
    <div class="profileleft_frame">
        <div class="statistics_frame">
            <div style="height: 13px"></div>
            <div class="statistics">
                <a class="statistic" href="/my_follow/{{ user_id }}">
                    <div class="favor_num statistic_num">111</div>
                    <div class="statistic_title">关注</div>
                </a>
                <a class="statistic" href="/my_follow/{{ user_id }}">
                    <div class="follow_num statistic_num">111</div>
                    <div class="statistic_title">粉丝</div>
                </a>
                <a class="statistic">
                    <div class="weibo_num statistic_num">111</div>
                    <div class="statistic_title">微博</div>
                </a>
            </div>
        </div>
        <div class="authentication_frame">
            <div class="authentication">
                <a class="authentication_information">申请认证</a>
                <a class="weibo_level">lv.9</a>
            </div>
            <div class="information_percent_frame">
                <div class="information_percent_title">
                    个人资料完成度
                    <span class="information_percent_num">30%</span>
                </div>
                <div class="percentbox">
                    <div class="percent"></div>
                </div>
            </div>
            <div class="toeditinfprmation_frame">
                <a>编辑个人资料 ></a>
            </div>
        </div>
        <div class="minialbum_frame">
            <div class="minialbum_title_frame">
                <a class="minialbum_title">相册</a>
            </div>
            <div class="minialbum_content_frame">
                <div class="minialbum_content_big minialbum_content_0">
                    <img class="minialbum_content_big" src="/statics/image/1111.jpg">
                </div>
                <div class="minialbum_content_small minialbum_content_1">
                    <img class="minialbum_content_small" src="/statics/image/1111.jpg">
                </div>
                <div class="minialbum_content_small minialbum_content_2">
                    <img class="minialbum_content_small" src="/statics/image/1111.jpg">
                </div>
                <div class="minialbum_content_small minialbum_content_3">
                    <img class="minialbum_content_small" src="/statics/image/1111.jpg">
                </div>
                <div class="minialbum_content_small minialbum_content_4">
                    <img class="minialbum_content_small" src="/statics/image/1111.jpg">
                </div>
                <div class="minialbum_content_small minialbum_content_5">
                    <img class="minialbum_content_small" src="/statics/image/1111.jpg">
                </div>
            </div>
            <div class="toalbum_frame">
                <a>查看更多 ></a>
            </div>
        </div>
        <div class="minifavor_frame">
            <div class="minifavor_title_frame">
                <a class="minifavor_title">赞</a>
            </div>
            <div class="minifavor_content_frame">
                <div class="minifavor_pic">
                    <a class="minifavor_pic">
                        <img class="minifavor_pic" src="/statics/image/1111.jpg">
                    </a>
                </div>
                <div class="minifavor_content">
                    <div class="minifavor_user">
                        <a class="minifavor_user" user_id=1>黄翔longdd</a>
                    </div>
                    <div class="minifavor_content_detail">
                        <a class="minifavor_content_detail">今天儿子一百天整，我也请假休息一天。随后roll两个cherry的键盘一个iPhone6的手机给你...</a>
                    </div>
                </div>
            </div>
            <div class="tofavor_frame">
                <a>查看更多 ></a>
            </div>
        </div>
    </div>
    <div class="mybloglist_frame">
        <div class="category_frame">
            <div class="category">
                <a class="categoryitem active">全部</a>
                <a class="categoryitem ">热门</a>
                <a class="categoryitem">更多 v</a>
            </div>
            <div class="mybolg_search">
                <input class="mybolg_search_box" placeholder="搜索我的微博">
                <button class="mybolg_search_button">Q</button>
                <button class="mybolg_search_morebutton">v</button>
            </div>
        </div>
        <div class="myweibolist ">
            <div class="myweiboexample hide">
                <div class="myweibo_content">
                    <div class="myweibo_picture">
                        <img class="myweibo_picture" src="/statics/image/1111.jpg">
                    </div>
                    <div class="myweibo_detail">
                        <div class="myweibo_detail_title">
                            <a class="myweibo_detail_user">寒夜落雪</a>
                        </div>
                        <div class="myweibo_detail_information">
                            <a class="myweibo_detail_ctime">2015-4-26 19:40</a>
                            来自
                            <a class="myweibo_detail_from">梦三国OnLine</a>
                        </div>
                        <div class="myweibo_detail_content">
                            #梦三国#无兄弟，不梦三！求队友陪我称霸国风竞技类网游梦三国OL！ O《梦三国2》官方网站-电魂游戏-源于梦，赋予... [19:41:15]
                        </div>
                        <div class="myweibo_detail_picture">
                            <img class="myweibo_detail_picture" src="/statics/image/1111.jpg">
                        </div>
                    </div>
                </div>
                <div class="myweibo_function">
                    <div class="myweibo_function_item0 myweibo_popularize">
                        <a class="my_weibo_hits">阅读量：88  推广</a>
                    </div>
                    <div class="myweibo_function_item0 myweibo_transpond">
                        <a>转发</a>
                    </div>
                    <div class="myweibo_function_item0 myweibo_comment">
                        <a>评论</a>
                    </div>
                    <div class="myweibo_function_item1 myweibo_thumbs">
                        <a class="myweibo_thumbs">赞</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination_frame">
            <div class="pagination_select">
                <a>第1页 v</a>
            </div>
            <div class="pagination_next">
                <a>下一页</a>
            </div>
        </div>
    </div>
</div>