<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="/statics/UIProfile/profile.css" rel="stylesheet">
</head>
<body>
    <div class="profile_frame" user_id=0>
        <div class="abstract_frame">
            <div class="title_frame">
                <div style="height: 48px"></div>
                <div class="headportrait">
                    <a>
                        <img class="headportrait" src="/statics/image/1111.jpg">
                    </a>
                </div>
                <div class="username_frame">
                    <h1 class="username">
                        寒夜落雪
                    </h1>
                    <img class="sex" src="/statics/image/1111.jpg">
                    <button class="focus_button">关注</button>
                </div>
                <div class="introduce_frame">
                    <a class=introduce>一句话介绍一下自己吧，让别人更了解你</a>
                </div>
            </div>
            <div class="content_frame">
                <div class="content_type" position="{{ position }}">
                    <div class="content_type_item content_type0 "><a href="/my_profile/{{ user_id }}">我的主页</a> </div>
                    <div class="content_type_item content_type1"><a href="/my_album/{{ user_id }}">我的相册</a> </div>
                    <div class="content_type_item content_type2"><a>管理中心</a> </div>
                </div>
            </div>
        </div>
        {% if position == 'my_profile' %}
            {% include 'UIProfile/_Include/my_profile.html' %}
        {% elif position == 'my_album' %}
            {% include 'UIProfile/_Include/my_album.html' %}
        {% elif position == 'my_follow' %}
            {% include 'UIProfile/_Include/my_follow.html' %}
        {% endif  %}
    </div>
    <script src='/statics/Plugs/Jquery/jquery-1.8.2.min.js'></script>
    <script src="/statics/UIProfile/profile.js"></script>
</body>
</html>